@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf

<h4>List of accessible containers:</h4>

@foreach (StorageUnit storage in storages)
{
    foreach (User user in storage.Users.Where(u => u.ID == userLoggedIn.ID))
    {
        <a href="/storage/@storage.ID">@storage.Name</a>
        <br />
    }
}

@code {
    [Parameter]
    public List<StorageUnit>? storages { get; set; }
    [Parameter]
    public User userLoggedIn { get; set; }
}
