@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf

<h3>List of accessible containers:</h3>

@foreach (StorageUnit storage in storages)
{
    foreach (User user in storage.Users.Where(u => u.Name == userLoggeIn.Name))
    {
        if (user.Name == userLoggedIn.Name)
        {
            <h5>@storage.Name</h5>
            <a href="/storage/@storage.ID">@storage.Name</a>
            <ul>
                @foreach (ShelfUnit shelfUnit in storage.ShelfUnits)
                {
                    <li>@shelfUnit.Name</li>
                }
            </ul>
        }
    }
}

@code {
    [Parameter]
    public List<StorageUnit>? storages { get; set; }
    [Parameter]
    public User userLoggedIn { get; set; }
}
