@using GarangeInventory.Storage
@inject Data.UserService UserData
@inject Data.DataService DataStorages



<ol>
    @foreach (StorageUnit storage in storages)
    {
        foreach (User u in storage.Users)
        {
            if (u.Name == UserData.User.Name)
            {
                <li>@storage.Name</li>
            }
        }
    }
</ol>

@code {
    public List<StorageUnit>? storages { get; set; }

    protected override void OnInitialized()
    {
        storages = DataStorages.Storages;
    }



}
