@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf
@inject Data.DataService Data

<input @bind=addStorageName />
<button class="btn btn-outline-primary" @onclick=AddStorage>Add Storage</button>

<h4>List of accessible containers:</h4>
@foreach (StorageUnit storage in storages)
{
    foreach (User user in storage.Users.Where(u => u.ID == userLoggedIn.ID))
    {
            <a href="/storage/@storage.ID">@storage.Name</a>
            <button class="btn" @onclick="() => Remove(storage.ID) ">Remove</button>
            <p>@storage.ID</p>
            <br />
    }
}

@code {
    [Parameter]
    public List<StorageUnit> storages { get; set; }
    [Parameter]
    public User userLoggedIn { get; set; }
    private string addStorageName { get; set; }
    private void AddStorage()
    {
        Data.AddStorageUnit(addStorageName, userLoggedIn);
    }
    private void Remove(int ID)
    {
        Data.RemoveStorageUnit(ID);
    }
}
