@using GarangeInventory.Storage
<h3>List of accessible containers:</h3>

<ol>
    @foreach (StorageUnit storage in storages)
    {
        foreach (User user in storage.Users)
        {
            if (user.Name == userLoggedIn.Name)
            {
                <li>@storage.Name</li>
                <ShelfUnits storage="@storage"></ShelfUnits>
            }
        }
    }
</ol>

@code {
    [Parameter]
    public List<StorageUnit>? storages { get; set; }
    [Parameter]
    public User userLoggedIn { get; set; }
}
