@page "/create"
@using GarangeInventory.Storage;
@using GarangeInventory.Enum;
@inject Data.DataService Data;



<p>New item creation page!</p>

<EditForm Model="@newItem">
    <label for="name">Item Name</label>
    <InputText id="name" @bind-Value="newItem.Name"></InputText>
    <br />
    <label for="quantity">Quantity</label>
    <InputNumber @bind-Value="newItem.Quantity"></InputNumber>
    <br />
    <label for="cost">Item Cost $</label>
    <InputNumber @bind-Value="newItem.Cost" ></InputNumber>
    <br />
    <label for="weight">Weight</label>
    <InputNumber @bind-Value="newItem.Weight" ></InputNumber>
    <br />
    <label for="weightCategory">Kilograms,Litres,Gramms</label>
    <InputSelect @bind-Value="newItem.WeightType">
        @foreach(var weightType in weightTypes)
        {
            <option>@weightType</option>
        }
    </InputSelect>
    <br />
    <label for="expiry">Expiry</label>
    <InputDate @bind-Value="newItem.Expiry"></InputDate>
    <br />
    <label for="purchaseDate">Purchase Date</label>
    <InputDate @bind-Value="newItem.PurchaseDate"></InputDate>
    <br />
    <label for="size"></label>
    <InputSelect @bind-Value="newItem.Size">
        @foreach(var sizeType in sizeTypes)
        {
            <option>@sizeType</option>
        }
    </InputSelect>
    <br />



    <button type="submit">Save</button>
</EditForm>


    @code {
    Item newItem = new();
    private readonly IEnumerable<WeightType> weightTypes = Enum.GetValues<WeightType>();
    private readonly IEnumerable<SizeType> sizeTypes = Enum.GetValues<SizeType>();

}

