@page "/create"
@using GarangeInventory.Storage;
@using GarangeInventory.Enum;
@inject Data.DataService Data;

<MenuItemOptions></MenuItemOptions>

<p>New item creation page!</p>

<EditForm Model="@newItem" OnValidSubmit="SaveItem">
    <label for="name">Item Name</label>
    <InputText @bind-Value="newItem.Name"></InputText>
    <br />

    <label for="quantity">Quantity</label>
    <InputNumber @bind-Value="newItem.Quantity"></InputNumber>
    <br />
    <label for="cost">Item Cost $</label>
    <InputNumber @bind-Value="newItem.Cost"></InputNumber>
    <br />

    <label for="weight">Weight</label>
    <InputNumber @bind-Value="newItem.Weight"></InputNumber>
    <br />

    <label for="weightCategory">Kilograms,Litres,Gramms</label>
    <InputSelect @bind-Value="newItem.WeightType">
        @foreach (var weightType in weightTypes)
        {
            <option>@weightType</option>
        }
    </InputSelect>
    <br />

    <label for="expiry">Expiry</label>
    <InputDate @bind-Value="newItem.Expiry"></InputDate>
    <br />

    <label for="purchaseDate">Purchase Date</label>
    <InputDate @bind-Value="newItem.PurchaseDate"></InputDate>
    <br />

    <label for="size"></label>
    <InputSelect @bind-Value="newItem.Size">
        @foreach (var sizeType in sizeTypes)
        {
            <option>@sizeType</option>
        }
    </InputSelect>
    <br />

    <label for="itemCategory"></label>
    <InputSelect @bind-Value="newItem.ItemCategory">
        @foreach (var category in itemCategory)
        {
            <option>@category</option>
        }
    </InputSelect>
    <br />

    <label for="note">Note</label>
    <InputText @bind-Value="newItem.Note"></InputText>
    <br />

    <ItemLocationChange @ref="locationChanger"
                        @bind-item="newItem"
                        @bind-message="SuccessStatusMessage"></ItemLocationChange>
    <br />
    <button type="submit">Save</button>

</EditForm>
<br />

@SuccessStatusMessage

@code {
    Item newItem;
    private ItemLocationChange locationChanger;

    private readonly IEnumerable<WeightType> weightTypes = Enum.GetValues<WeightType>();
    private readonly IEnumerable<SizeType> sizeTypes = Enum.GetValues<SizeType>();
    private readonly IEnumerable<Category> itemCategory = Enum.GetValues<Category>();

    private string SuccessStatusMessage { get; set; }

    protected override void OnInitialized()
    {
        newItem = Data.MakeNewItem();
    }

    private void SaveItem()
    {
        await locationChanger.AddItemToLocationAsync();
        ResetForm();
    }

    private void ResetForm()
    {
        newItem = Data.MakeNewItem();
    }
}

