@page "/create"
@using GarangeInventory.Storage;
@using GarangeInventory.Enum;
@inject Data.DataService Data;

<EditForm Model="@newItem">
    <label for="name">Name</label>
    <InputText id="name" @bind-Value="newItem.Name"></InputText>
    <label for="quantity">Quantity</label>
    <InputNumber @bind-Value="newItem.Quantity"></InputNumber>

</EditForm>


@code {
    Item newItem = new();

}


