@using GarangeInventory.Storage
@inject Data.DataService Data
@page "/locationdetail/{ID:int}"

@messageItemNotFound
<p>Item: @ItemofInterest.Name</p>
<p>Location:</p>
@foreach (StorageObject storageObject in ObjPath)
{
    <p>@storageObject.Name</p>
}

@code {
    List<StorageObject> ObjPath = new List<StorageObject>();
    string messageItemNotFound = "";
    Item ItemofInterest;

    [Parameter]
    public int ID { get; set; }

    protected override void OnParametersSet()
    {
        ItemofInterest = Data.GetAllItemsFromStorageUnit().First(p => p.ID == ID);

        if (!GetStorageUnitNameDetails(ItemofInterest) || ItemofInterest == null)
        {
            messageItemNotFound = "Item not Found!";
        }
        base.OnParametersSet();
    }

    /// <summary>
    /// search of item in ShelfUnit object, add name of Shelf and Box Name to the List<string> path variable , and return boolean
    /// </summary>
    /// <param name="shelfUnit"> ShelfUnit where to search for item object </param>
    /// <param name="target"> Item object </param>
    /// <returns> true if item is found, otherwise false </returns>
    private bool GetShelfNameDetails(ShelfUnit shelfUnit, Item target)
    {
        foreach (Shelf shelf in shelfUnit.Shelfs)
        {
            ObjPath.Add(shelf);
            foreach (Item item in shelf.Items)
            {
                if (item == target)
                    return true;
            }
            foreach (Box box in shelf.Boxes)
            {
                ObjPath.Add(box);
                foreach (Item item in box.Items)
                {
                    if (item == target)
                        ObjPath.Add(item);
                    return true;
                }
                ObjPath.Remove(box);
            }
            ObjPath.Remove(shelf);
        }
        return false;
    }

    /// <summary>
    /// search of item target in StorageUnit object, add name of ShelfUnit,Shelf,Box to list and return boolean
    /// </summary>
    /// <param name="storageUnit"> storageUnit object</param>
    /// <param name="target"> item to be found , object </param>
    /// <returns> true if item is found, otherwise false</returns>
    private bool GetShelfUnitNameDetails(StorageUnit storageUnit, Item target)
    {
        bool itemFound = false;
        foreach (ShelfUnit shelfUnit in storageUnit.ShelfUnits)
        {
            ObjPath.Add(shelfUnit);
            foreach (Item item in shelfUnit.Items)
            {
                if (item == target)
                    return true;
            }
            itemFound = GetShelfNameDetails(shelfUnit, target);
            if (itemFound)
            {
                return true;
            }
            ObjPath.Remove(shelfUnit);
        }
        return itemFound;
    }

    /// <summary>
    /// search of item target in DataService Data.Storages list, add Storage.Name to string list
    /// </summary>
    /// <param name="target"></param>
    /// <returns></returns>
    private bool GetStorageUnitNameDetails(Item target)
    {
        bool itemFound = false;
        foreach (StorageUnit storageUnit in Data.Storages)
        {
            ObjPath.Add(storageUnit);
            itemFound = GetShelfUnitNameDetails(storageUnit, target);
            if (itemFound)
            {
                return true;
            }
            ObjPath.Remove(storageUnit);
        }
        return itemFound;
    }


}
