@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf
@inject Data.DataService Data

<h1>  </h1>

@code {
    [Parameter]
    public int iD { get; set; }

    private string StorageName = "";
    private string ShelfUnitName = "";
    private string ShelfName = "";
    private string BoxName = "Not In a Box!";
    /*
    private string GetStorageNameDetails()
    {
        string storageName = Data.Storages.Where(ItemID=>ItemID.)


    }
    */
    // get item ID , pass as parameter .
    // using LINQ get and display Storage Name
    // using LINQ get and display ShelfUnit Name
    // using LINQ get and display Shelf Name
    // using LINQ get and display Box Name if exists



}
