@using GarangeInventory.Storage
@inject Data.DataService Data;


<label for="storage">Storage Unit</label>
<InputSelect @bind-Value="selectedStorageUnit">
    @foreach(StorageUnit storage in Data.Storages)
    {
        <option>@storage.Name</option>
    }
</InputSelect>
    

@code {

    [Parameter]
    public Item itemToBePlaced { get; set; }
    private StorageUnit selectedStorageUnit { get; set; }
    private void SelectStorage(StorageUnit storageUnit)
    {
        selectedStorageUnit = storageUnit;
    }
}
