@using GarangeInventory.Storage
@inject Data.DataService Data;


<label for="storage">Storage Unit</label>
<InputSelect @bind-Value="selectedSUID">
    @foreach(StorageUnit storage in Data.Storages)
    {
        <option value="@storage.ID">@storage.Name</option>
    }
</InputSelect>
    

@code {

    [Parameter]
    public int selectedSUID { get; set; }
}
