################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GarangeInventory/obj
/GarangeInventory/obj/Debug/net8.0
