@page "/dashboard/{userName}"
@using GarangeInventory.Storage
@inject Data.UserService UserData
@inject Data.DataService DataStorages

@inject NavigationManager navigation

@if (userName == null || UserData.User.Name == null || userName != UserData.User.Name)
{
    try
    {
        navigation.NavigateTo("/login");
    }
    catch (Exception e)
    {
        Console.WriteLine(e.ToString());
    }
}
else
{
    <PageTitle>Your Warehouse!</PageTitle>
    <h3>List of accessible containers:</h3>
    <th>Containers</th>
    <tbody>
        @foreach (StorageUnit storage in storages)
        {
            foreach (User u in storage.Users)
            {
                if (u.Name == UserData.User.Name)
                {
                    <a href="">@storage.Name</a>
                }
            }
        }
    </tbody>

}
@code {
    [Parameter]
    public string? userName { get; set; }

    private List<StorageUnit>? storages;

    protected override void OnInitialized()
    {
        storages = DataStorages.Storages;
    }
}
