@page "/dashboard/{userName}"
@using BlazorGI.Components
@inject NavigationManager navigation
@inject Data.UserService UserData
@using GarangeInventory.Storage


@if (userName == null || UserData.User.Name == null || userName != UserData.User.Name)
{
    try
    {
        navigation.NavigateTo("/login");
    }
    catch (Exception e)
    {
        Console.WriteLine(e.ToString());
    }
}
else
{
    <PageTitle>Your Warehouse!</PageTitle>
    <h3>List of accessible containers:</h3>
    <ContainerList></ContainerList>

}
@code {
    [Parameter]
    public string? userName { get; set; }
}
