@page "/dashboard/{userName}"
@using GarangeInventory.Storage
@inject Data.UserService UserData

<PageTitle>Your Warehouse!</PageTitle>



<p>@userName</p>
<p>@UserData.User.Name</p>
@code {
    [Parameter]
    public string? userName { get; set; }


}
