@page "/login"
@using Data
@inject Data.UserService UserData
@inject NavigationManager MyNavigationManager

<PageTitle>Garage Inventory Login</PageTitle>
<h3>Enter your Username</h3>
<input @bind=UsernameInput />
<br />
<button class="btn btn-outline-primary" @onclick=GetUserCheckMessage title="Let's log in.">Don't Click me</button>
<br />
<p>@notValidLogin</p>
<p1>@userCheckMessage</p1>



@code {
    public string UsernameInput { get; set; } = "";
    private string userCheckMessage { get; set; } = "";
    private bool isUser { get; set; }
    private string notValidLogin = "";


    private void GetUserCheckMessage()
    {
        isUser = UserData.GetUserCheck(UsernameInput);
        if(isUser)
        {
            MyNavigationManager.NavigateTo($"/storageunits");
        }
        else
        {
            notValidLogin = "Login not valid!";
        }

    }
}