@page "/login"
@using GarangeInventory.Storage
@inject Data.UserService UserData
@inject NavigationManager MyNavigationManager

<PageTitle>Garage Inventory Login</PageTitle>

<h3>Enter your Username</h3>
<input @bind=UsernameInput />
<br />
<button class="btn btn-outline-primary" @onclick=GetUserCheckMessage title="Let's log in.">Don't Click me</button>

<p>@notValidLogin</p>

@code {
    public string? UsernameInput { get; set; }
    private string notValidLogin { get; set; } = "";
    private bool isUser { get; set; }

    private void GetUserCheckMessage()
    {
        try
        {
            if (UsernameInput != null)
            {
                isUser = UserData.GetUserCheck(UsernameInput);
                if (isUser && UsernameInput == UserData.User.Name)
                {
                    MyNavigationManager.NavigateTo($"/dashboard/{UsernameInput}");
                }
            }
            if (UsernameInput == null || UsernameInput != UserData.User.Name || UserData.User.Name == null)
            {
                notValidLogin = "Login not valid!";
            }
        }
        catch(Exception e)
        {
           Console.WriteLine(e.ToString());
        }
    }
}