@page "/storage/{iD:int}"
@inject Data.DataService Data
@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf
@using Microsoft.AspNetCore.Components.QuickGrid


<PageTitle>Storage</PageTitle>

<h3>Storage: @DisplayStorageName() </h3>

<QuickGrid Items="@ShelfUnitQueryable()">
    <PropertyColumn Property="@(shelfUnitPicturePath => shelfUnitPicturePath.PicturePath)" Title="Picture" Sortable="true" />
    <PropertyColumn Property="@(shelfUnitsdkjah => shelfUnitsdkjah.Name)" Sortable="true" />
</QuickGrid>


@code {
    [Parameter]
    public int ID { get; set; }

    private IQueryable<ShelfUnit> ShelfUnitQueryable()
    {
        var queryableShelfUnit = Data.Storages
            .Where(storages => storages.ID == ID)
            .SelectMany(sbyt => sbyt.ShelfUnits)
            .AsQueryable();
        return queryableShelfUnit;
    }

    private string DisplayStorageName()
    {
        string storageNam = "No storage Unit avaialble.";
        foreach (StorageUnit storageUnit in Data.Storages.Where(storages => storages.ID == ID))
        {
            return storageUnit.Name;
        }
        return storageNam;
    }
}
