@page "/storage/{ID:int}"
@inject Data.DataService Data;
@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf
@inject NavigationManager SatNav

<PageTitle>Storage</PageTitle>
<h3>Storage: @Data.Storages.Where(st => st.ID == IDNumber).First()</h3>          

@foreach (StorageUnit storageUnit in Data.Storages.Where(storageUnit => storageUnit.ID == IDNumber))
{
    foreach (ShelfUnit shelfUnit in storageUnit.ShelfUnits)
    {
        <p>@shelfUnit.Name</p>
        
        <ol>
            @foreach (Shelf shelf in shelfUnit.Shelfs)
            {
                <li>@shelf.Name</li>
            }
        </ol>
    }
}

@code {
    [Parameter]
    public int IDNumber { get; set; }
}
