@page "/storage/{ID:int}"
@inject Data.DataService Data;
@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf

<PageTitle>Storage</PageTitle>
<h3>Storage: @DisplayStorageName()</h3>

@foreach (StorageUnit storageUnit in Data.Storages.Where(storageUnit => storageUnit.ID == ID))
{
    foreach (ShelfUnit shelfUnit in storageUnit.ShelfUnits)
    {
        <h4>@shelfUnit.Name</h4>
        <ol>
            @foreach (Shelf shelf in shelfUnit.Shelfs)
            {
                <li>@shelf.Name Level , List of items:</li>
                @for (int i = 0; i < shelf.Items.Count; i++)
                {
                    int countFrom1 = i + 1;
                    <p>@countFrom1 - @shelf.Items[i].Name</p>
                }

            }
        </ol>
    }
}

@code {
    [Parameter]
    public int ID { get; set; }

    private string DisplayStorageName()
    {
        string storageNam = "No storage Unit avaialble.";
        foreach (StorageUnit storageUnit in Data.Storages.Where(storages => storages.ID == ID))
        {
            return storageUnit.Name;
        }
        return storageNam;
    }



}
