@page "/storage/{ID:int}"
@inject Data.DataService Data;
@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf
@inject NavigationManager SatNav

<PageTitle>Storage</PageTitle>
<h3>Storage: @DisplayStorageName()</h3>

@foreach (StorageUnit storageUnit in Data.Storages.Where(storageUnit => storageUnit.ID == ID))
{
    foreach (ShelfUnit shelfUnit in storageUnit.ShelfUnits)
    {
        <p>@shelfUnit.Name</p>
        <ol>
            @foreach (Shelf shelf in shelfUnit.Shelfs)
            {
                <li>@shelf.Name</li>
            }
        </ol>
    }
}

@code {
    [Parameter]
    public int ID { get; set; }

    private string DisplayStorageName()
    {
        string storageNam = "No storage Unit avaialble.";
        foreach(StorageUnit storageUnit in Data.Storages.Where(storages => storages.ID == ID))
        {
            return storageUnit.Name;
        }
        return storageNam;
    }



}
