@page "/storage/{storageID}"
@inject Data.DataService Data;
@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf

<PageTitle>Storage</PageTitle>
<h3>Storage: @Data.Storages[ID].Name</h3>

@foreach (StorageUnit storageUnit in Data.Storages.Where(storageUnit => storageUnit.ID == ID))
{
    foreach (ShelfUnit shelfUnit in storageUnit.ShelfUnits)
    {
        <p>@shelfUnit.Name</p>
        <ol>
            @foreach (Shelf shelf in shelfUnit.Shelfs)
            {
                <li>@shelf.Name</li>
            }
        </ol>
    }
}

@code {
    [Parameter]
    public string? storageID { get; set; }

    private int ID { get; set; }

}
